{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<h2>Hello {{ user }}</h2>
{% endif %}

{% if messages %}
<ul>
{% for message in messages %}
    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}> {{ message }} </li>
{% endfor %}
</ul>
{% endif %}

{% if perms.tracker.add_entry %}
<a href="{% url 'entry-add' %}">New</a>
{% endif %}

{% regroup object_list by project as project_list %}
{% for project in project_list %}
<h2> {{ project.grouper }} </h2>
<table>
    <thead>
        <tr>
            <th> Start </th>
            <th> End </th>
            <th> User </th>
            <th> Description </th>
            <th> Project </th>
            <th> Actions </th>
        </tr>
    </thead>

    <tbody>
    {% for entry in project.list %}
    <tr>
        <td> {{ entry.start }} </td>
        <td> {{ entry.end }} </td>
        <td> {{ entry.user }} </td>
        <td> {{ entry.description }} </td>
        <td> {{ entry.project }} </td>
        <td>
{% if entry.user == user %}
            <a href="{% url 'entry-edit' entry_id=entry.pk %}">[edit]</a>
            {% if not entry.end %}
            <a href="{% url 'entry-stop' entry_id=entry.pk %}">[STOP!]</a>
            {% else %}
            <a href="{% url 'entry-continue' entry_id=entry.pk %}">[Continue]</a>
            {% endif %}
{% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock content %}
